<div class="max-w-md mx-auto px-4 pt-6 pb-10">


  <div class="primary-text mb-10 flex items-center">
    <a class="pt-2 cursor-pointer">
      <mat-icon aria-hidden="false" aria-label="back icon" [inline]="true">arrow_back_ios</mat-icon>
    </a>
    <h1 class="text-2xl font-medium ml-4">Menu</h1>
  </div>

  <ul class="space-y-2 select-none">

    <li>
      <a class="flex rounded-lg items-center cursor-pointer py-2 primary-text">
        <mat-icon aria-hidden="false" aria-label="profile icon" [inline]="true">person</mat-icon>
        <span class="text-sm pl-2 font-medium">My Profile</span>
      </a>
    </li>

    <li>
      <a class="flex rounded-lg items-center cursor-pointer py-4 primary-text">
        <mat-icon aria-hidden="false" aria-label="hostory icon" [inline]="true">history</mat-icon>
        <span class="text-sm pl-2 font-medium">Order History</span>
      </a>
    </li>

    <li>
      <hr class="border-extra-light dark:border-dark">
    </li>

    <li>
      <a class="flex rounded-lg items-center py-3 primary-text">
        <mat-icon aria-hidden="false" aria-label="Light mode icon" [inline]="true">light_mode</mat-icon>
        <span class="text-sm pl-2 font-medium flex-grow">Dark Mode</span>
        <app-darkmode-toggler></app-darkmode-toggler>
      </a>
    </li>

    <li>
      <hr class="border-extra-light dark:border-dark">
    </li>

    <li>
      <a class="flex rounded-lg items-center cursor-pointer text-warning py-2" (click)="logOut()">
        <mat-icon aria-hidden="false" aria-label="logout icon" [inline]="true">logout</mat-icon>
        <span class="text-sm pl-2 font-medium">logout</span>
      </a>
    </li>

  </ul>

  <p class="text-center mt-10 primary-text text-sm">© 2020 - All Rights Reserved</p>

</div>
