<div class="menu-holder w-56 bg-white rounded-lg p-2 shadow-light dark:bg-dark-lighter">
  <ul class="space-y-2">

    <li>
      <a class="flex rounded-lg items-center cursor-pointer p-3 primary-text hover:bg-light dark:hover:bg-btn-dark"
        [routerLink]="['/profile']" [routerLinkActive]="['bg-light','dark:bg-btn-dark','pointer-events-none']"
        (click)="closeMenuHandler()">
        <mat-icon aria-hidden="false" aria-label="profile icon" [inline]="true">person</mat-icon>
        <span class="text-sm pl-2 font-medium">My Profile</span>
      </a>
    </li>

    <li>
      <a class="flex rounded-lg items-center cursor-pointer p-3 primary-text hover:bg-light dark:hover:bg-btn-dark">
        <mat-icon aria-hidden="false" aria-label="hostory icon" [inline]="true">history</mat-icon>
        <span class="text-sm pl-2 font-medium">Order History</span>
      </a>
    </li>

    <li>
      <hr class="border-light dark:border-dark">
    </li>

    <li>
      <a class="flex rounded-lg items-center p-3 primary-text">
        <mat-icon aria-hidden="false" aria-label="Light mode icon" [inline]="true">light_mode</mat-icon>
        <span class="text-sm pl-2 font-medium flex-grow">Dark Mode</span>
        <app-darkmode-toggler></app-darkmode-toggler>
      </a>
    </li>

    <li>
      <hr class="border-light dark:border-dark">
    </li>

    <li>
      <a class="flex rounded-lg items-center cursor-pointer text-warning p-3 hover:bg-warning" (click)="logoutUser()">
        <mat-icon aria-hidden="false" aria-label="logout icon" [inline]="true">logout</mat-icon>
        <span class="text-sm pl-2 font-medium">logout</span>
      </a>
    </li>

  </ul>
</div>
