<nav class="bg-white dark:bg-dark-lighter w-full">
  <div class="container mx-auto flex justify-between items-center px-4 h-16">

    <a class="flex items-center cursor-pointer text-primary dark:text-white">
      <img src="assets/logo.png" width="30" height="30" alt="Company Logo" />
      <span class="font-medium text-lg ml-2 hidden lg:block">Pro-Promotion.com</span>
      <span class="font-medium text-lg ml-2 lg:hidden">PPc</span>
    </a>

    <ul class="items-center justify-center space-x-5 hidden sm:flex nav-menu">

      <li>
        <a class="flex items-center cursor-pointer" [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon aria-hidden="false" aria-label="store icon" [inline]="true">store</mat-icon>
          <span class="text-base pl-2">Store</span>
        </a>
      </li>

      <li>
        <a class="flex items-center cursor-pointer" [routerLink]="['/news']" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="news icon" [inline]="true">article</mat-icon>
          <span class="text-base pl-2">News</span>
        </a>
      </li>

      <li *ngIf="(userData | async)?.id">
        <a class="flex items-center cursor-pointer" [routerLink]="['/cart']" routerLinkActive="active" matBadge="2"
          matBadgeOverlap="false" matBadgeSize="small">
          <mat-icon aria-hidden="false" aria-label="Cart" [inline]="true">shopping_cart</mat-icon>
          <span class="text-base pl-2">Cart</span>
        </a>
      </li>

    </ul>

    <ng-container *ngIf="!(userData | async)?.id else loggedIn">
      <button class="btn px-4 py-2 rounded-xl focus:outline-none flex items-center justify-center"
        (click)="openAuthPopup()">
        <mat-icon aria-hidden="false" aria-label="login icon" [inline]="true">login</mat-icon>
        <span class="text-base pl-2">Login</span>
      </button>
    </ng-container>

    <ng-template #loggedIn>
      <div class="flex items-center justify-center" *ngIf="(userData | async)?.id">

        <div class="wallet-balance flex items-center pl-4 font-medium px-4 py-2 rounded-lg flex-none btn">
          <mat-icon aria-hidden="false" aria-label="account balance icon" [inline]="true">account_balance</mat-icon>
          <span class="pl-2 text-sm">20023</span>
        </div>

        <div class="relative ml-5 hidden md:block select-none" (click)="$event.stopPropagation()">

          <div (click)="subMenuOpen.next(true)"
            class="flex flex-none profile-menu items-center justify-center cursor-pointer primary-text">
            <div class="avatar rounded-full overflow-hidden border-2 border-purple mr-1">
              <img src="assets/avatar.png" width="30" height="30" />
            </div>
            <mat-icon aria-hidden="false" aria-label="open menu icon" [inline]="true">keyboard_arrow_down</mat-icon>
          </div>

          <app-submenu class="absolute right-0 top-14 z-20" [@openClose] *ngIf="subMenuOpen | async"
            (closeMenu)="subMenuOpen.next(false)">
          </app-submenu>

        </div>

      </div>
      <ng-template #test>

      </ng-template>
    </ng-template>

  </div>
</nav>