<div class="product p-5 rounded-xl bg-white dark:bg-dark-lighter">

  <div class="flex items-center">
    <div class="by-image flex-none w-12 h-12 rounded-full overflow-hidden">
      <img src="assets/test.png" width="48" height="48" class="w-full h-full object-cover" />
    </div>
    <div class="flex-grow ml-2">
      <p class="text-base primary-text line-clamp-1 break-all">Pro-Promotion.com</p>
      <span class="text-inactive text-sm">Admin</span>
    </div>
  </div>

  <div class="product-image rounded-xl overflow-hidden my-4">
    <img [src]="product.image" width="250" height="180" alt="Product Image" class="w-full" />
  </div>

  <button class="w-full rounded-xl py-3 border font-medium focus:outline-none focus:ring
    border-blue text-primary hover:bg-blue hover:text-white
    dark:border-purple dark:text-white dark:hover:bg-purple">
    Add to cart
  </button>

</div>