<div class="container mx-auto px-4 pt-6 pb-10">

  <div class="flex justify-between mb-5">
    <h1 class="text-2xl primary-text font-medium">Most popular</h1>
    <button class="btn px-3 py-3 rounded-xl flex items-center justify-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" [inline]="true">add</mat-icon>
      <span class="font-medium pl-2 hidden sm:block">Create product</span>
    </button>
  </div>


  <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>

</div>
