<nav class="bg-white dark:bg-dark-secondary sticky top-0 left-0 w-full">
  <div class="container mx-auto flex justify-between items-center p-4">

    <a class="flex items-center cursor-pointer primary-text">
      <img src="assets/logo.png" width="30" height="30" alt="Company Logo" />
      <span class="font-medium text-lg ml-2 hidden lg:block">Pro-Promotion.com</span>
      <span class="font-medium text-lg ml-2 lg:hidden">PPc</span>
    </a>

    <ul class="items-center justify-center space-x-5 hidden md:flex nav-menu">

      <li>
        <a class="flex items-center cursor-pointer active">
          <svg class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"></path><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"></path></svg>
          <span class="text-base pl-2">Products</span>
        </a>
      </li>

      <li>
        <a class="flex items-center cursor-pointer">
          <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path><path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path></svg>
          <span class="text-base pl-2">News</span>
        </a>
      </li>

      <li>
        <a class="flex items-center cursor-pointer">
          <svg class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor"><path d="M0 0h24v24H0z" fill="none"></path><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"></path></svg>
          <span class="text-base pl-2">Help</span>
        </a>
      </li>

    </ul>

    <div class="flex items-center justify-center">

      <div class="wallet-balance-holder flex items-center p-2 pr-4 rounded-lg flex-none btn">
        <a class="bg-blue w-6 h-6 rounded-lg text-white flex items-center justify-center cursor-pointer flex-none">
          <svg class="w-4 h-4" viewBox="0 0 16 16" fill="currentColor"><path fill-rule="evenodd" d="M7.75 2a.75.75 0 01.75.75V7h4.25a.75.75 0 110 1.5H8.5v4.25a.75.75 0 11-1.5 0V8.5H2.75a.75.75 0 010-1.5H7V2.75A.75.75 0 017.75 2z"></path></svg>
        </a>
        <div class="wallet-balance light-active flex items-center pl-4 font-medium flex-grow">
          <svg  class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z"></path><path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z"></path><path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z"></path></svg>
          <span class="pl-1 text-sm">2023</span>
        </div>
      </div>

      <div class="relative ml-4 hidden md:block select-none">

        <div (click)="subMenuOpen=true;" class="flex flex-none profile-menu light-active items-center justify-center cursor-pointer">
          <div class="avatar rounded-full overflow-hidden border-2 border-purple">
            <img src="assets/avatar.png" width="30" height="30" />
          </div>
          <svg class="w-5 h-5 ml-2 primary-text" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M5.22 8.72a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 00-1.06-1.06L12 14.44 6.28 8.72a.75.75 0 00-1.06 0z"></path></svg>
        </div>

        <app-submenu class="absolute right-0 top-12 z-20" [@openClose] *ngIf="subMenuOpen" (closeMenu)="subMenuOpen=false;" (switchTheme)="toggleDarkMode()" [isDark]="darkMode">
        </app-submenu>

        <div *ngIf="subMenuOpen" (click)="subMenuOpen=false;" class="overlay fixed top-0 left-0 w-full h-full"></div>

      </div>

    </div>

  </div>
</nav>
