<div class="fixed bottom-4 left-2/4 transform -translate-x-2/4 sm:hidden px-4 w-full max-w-sm">

  <div class="mob-nav p-2 py-3 relative overflow-hidden">

    <ul class="flex justify-evenly items-center">

      <li>
        <a class="cursor-pointer flex items-center justify-center flex-col" [routerLink]="['']"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon aria-hidden="false" aria-label="store icon" [inline]="true">store</mat-icon>
          <span class="text-sm pt-1">Store</span>
        </a>
      </li>

      <li>
        <a class="cursor-pointer flex items-center justify-center flex-col" [routerLink]="['/news']"
          routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="news icon" [inline]="true">article</mat-icon>
          <span class="text-sm pt-1">News</span>
        </a>
      </li>

      <li>
        <a class="cursor-pointer flex items-center justify-center flex-col">
          <mat-icon aria-hidden="false" aria-label="awards icon" [inline]="true">emoji_events</mat-icon>
          <span class="text-sm pt-1">Awards</span>
        </a>
      </li>

      <li *ngIf="(userData | async)?.authenticated" [@mobmenu]>
        <a class="cursor-pointer flex items-center justify-center flex-col" [routerLink]="['/menu']"
          routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="menu icon" [inline]="true">menu</mat-icon>
          <span class="text-sm pt-1">Menu</span>
        </a>
      </li>

    </ul>
  </div>


</div>
