<div class="primary-text overflow-hidden p-6 cursor-default">

  <div class="flex justify-center items-center mb-4 bg-light rounded-xl p-4 dark:bg-dark">
    <img src="assets/logo.png" width="30" height="30" />
    <p class="ml-2 text-center text-xl font-medium uppercase">{{(shownForm | async) ===2 ? 'signin' : 'signup'}}</p>
  </div>

  <div class="relative" [@slideAnim]="triggerData" #mainholder>

    <ng-container *ngIf="shownForm | async as step">
      <form (submit)="handleSignin($event)" id="signin-form" *ngIf="step==1" [formGroup]="signInForm">

        <div class="form-field" [class.invalid]="getControlError(signInForm,'email')">
          <label>Email</label>
          <div class="relative">
            <input type="email" placeholder="Enter email address" formControlName="email" />
          </div>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'required', message: 'Email is required', control: signInForm.get('email') }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'pattern', message: 'Enter a valid email', control: signInForm.get('email') }">
          </ng-container>
        </div>

        <div class="form-field mt-2" [class.invalid]="getControlError(signInForm,'password')">
          <label>Password</label>
          <div class="relative">
            <input type="password" placeholder="Enter password" formControlName="password" #passiologin />
            <button role="button" class="eye-toggle absolute top-2/4 right-4 h-5 w-5 cursor-pointer"
              (click)="togglePasswordVisibility(passiologin,$event)">
              <mat-icon aria-hidden="false" aria-label="show password icon" [inline]="true"
                *ngIf="getInputType(passiologin)==='password'">visibility</mat-icon>
              <mat-icon aria-hidden="false" aria-label="show password icon" [inline]="true"
                *ngIf="getInputType(passiologin)==='text'">visibility_off</mat-icon>
            </button>
          </div>
        </div>

        <button class="auth-form-btn" [disabled]="($loading | async) || signInForm.invalid">
          <span class="pr-2 align-middle">SIGNIN</span>
          <i class="loader" *ngIf="$loading | async"></i>
        </button>

        <p class="text-xs text-center primary-text">Dont have an account ?
          <a class="font-medium underline cursor-pointer" tab-index="1" (click)="changeState(2)">Signup</a>
        </p>
      </form>

      <form (submit)="handleSignup($event)" id="signin-form" *ngIf="step==2" [formGroup]="signUpForm">

        <div class="form-field" [class.invalid]="getControlError(signUpForm,'name')">
          <label>Name</label>
          <div class="relative">
            <input type="text" placeholder="Enter full name" formControlName="name" />
          </div>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'required', message: 'Name is required', control: signUpForm.get('name') }">
          </ng-container>
        </div>

        <div class="form-field mt-2" [class.invalid]="getControlError(signUpForm,'employee_code')">
          <label>Employee code</label>
          <div class="relative">
            <input type="text" placeholder="Enter employee code" formControlName="employee_code" autocomplete="no" />
          </div>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'required', message: 'Employee code is required', control: signUpForm.get('employee_code') }">
          </ng-container>
        </div>

        <div class="form-field mt-2" [class.invalid]="getControlError(signUpForm,'email')">
          <label>Email</label>
          <div class="relative">
            <input type="email" placeholder="Enter email address" formControlName="email" />
          </div>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'required', message: 'Email is required', control: signUpForm.get('email') }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'pattern', message: 'Enter a valid email', control:signUpForm.get('email') }">
          </ng-container>
        </div>

        <div class="form-field mt-2" [class.invalid]="getControlError(signUpForm,'password')">
          <label>Password</label>
          <div class="relative">
            <input type="password" placeholder="Enter password" formControlName="password" #passiosignup />
            <button role="button" class="eye-toggle absolute top-2/4 right-4 h-5 w-5 cursor-pointer"
              (click)="togglePasswordVisibility(passiosignup,$event)">
              <mat-icon aria-hidden="false" aria-label="show password icon" [inline]="true"
                *ngIf="getInputType(passiosignup)==='password'">visibility</mat-icon>
              <mat-icon aria-hidden="false" aria-label="show password icon" [inline]="true"
                *ngIf="getInputType(passiosignup)==='text'">visibility_off</mat-icon>
            </button>
          </div>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'required', message: 'Password is required', control: signUpForm.get('password') }">
          </ng-container>
          <ng-container [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{ validation: 'minlength', message: 'Password must be of 6 characters', control: signUpForm.get('password') }">
          </ng-container>
        </div>

        <button class="auth-form-btn" [disabled]="($loading | async) || signUpForm.invalid">
          <span class="pr-2 align-middle">SIGNUP</span>
          <i class="loader" *ngIf="$loading |async"></i>
        </button>

        <p class="text-xs text-center primary-text">Already have an account ?
          <a class="font-medium underline cursor-pointer" tab-index="1" (click)="changeState(1)">Signin</a>
        </p>
      </form>

      <div class="text-center" *ngIf="step==3">
        <p class="text-xl font-medium">Dark mode</p>
        <p class="mb-5 mt-3 text-sm">Just letting you know that we have dark mode. You should give it a try! Maybe you
          like it more.</p>

        <ul class="text-left mb-5">
          <li class="flex pb-4 border-b border-light dark:border-dark">
            <mat-icon aria-hidden="false" aria-label="visibility" [inline]="true">visibility</mat-icon>
            <div class="flex-grow pl-4">
              <p class="text-sm font-medium">Eye relif</p>
              <p class="mt-1 text-sm">Give your eyes a little rest. By reducing the brightness with dark mode
                you wont be giving your eyes shock in morning.</p>
            </div>
          </li>

          <li class="flex py-4 border-b border-light dark:border-dark">
            <mat-icon aria-hidden="false" aria-label="enviroment" [inline]="true">spa</mat-icon>
            <div class="flex-grow pl-4">
              <p class="text-sm font-medium">Enviroment</p>
              <p class="mt-1 text-sm">Working in dark enviroment? Change the mode depending in which place you are at
                the
                moment</p>
            </div>
          </li>

          <li class="flex pt-4">
            <mat-icon aria-hidden="false" aria-label="battery" [inline]="true">battery_charging_full</mat-icon>
            <div class="flex-grow pl-4">
              <p class="text-sm font-medium">Battery</p>
              <p class="mt-1 text-sm">If you want to save your battery, dark mode the the way to go! </p>
            </div>
          </li>
        </ul>

        <div class="flex justify-between items-center">
          <p class="text-sm font-medium">Try Dark mode</p>
          <app-darkmode-toggler></app-darkmode-toggler>
        </div>

      </div>
    </ng-container>

  </div>

</div>


<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <small class="block text-warning text-xs pt-0.5 text-right">{{ message }}</small>
  </ng-container>
</ng-template>