<div class="flex relative justify-between items-center space-x-4 bg-btn-light dark:bg-dark-lighter p-4 rounded-xl">
    <img src="assets/product.png" class="rounded-lg" alt="product one" width="100" height="100">

    <div class="flex-grow">
        <h4 class="text-md font-medium leading-tight">Streamling Leggings</h4>
        <span class="text-xs text-secondary">PRODUCT-21</span>
    </div>

    <div class="inline-flex items-center mt-2">
        <mat-icon aria-hidden="false" aria-label="account balance icon" [inline]="true">account_balance
        </mat-icon>
        <p class="pl-2 md:text-lg">125</p>
    </div>

    <button class="p-1.5 rounded-full text-white bg-dark dark:bg-purple inline-flex absolute -top-4 -right-2 md:static">
        <mat-icon aria-hidden="false" aria-label="Delete" [inline]="true">
            clear
        </mat-icon>
    </button>
</div>