<div class="container mx-auto px-4 pt-6 pb-10">

  <div class="most-popular mb-10">
    <h1 class="text-2xl primary-text mb-5 font-medium">Most popular</h1>

    <div class="
        p-5
        rounded-xl
        bg-white
        dark:bg-dark-lighter
        grid grid-cols-1
        gap-y-5 gap-x-8
        md:grid-cols-5
        md:items-center
      ">
      <div class="rounded-xl overflow-hidden md:col-span-3">
        <img src="assets/blog.png" class="w-full h-full object-cover" />
      </div>

      <div class="md:col-span-2">
        <p class="text-lg primary-text lg:text-3xl font-medium">
          Dribble Russia VK Community official launched
        </p>
        <p class="primary-text text-sm lg:text-base my-3 lg:my-5 line-clamp-2">
          Send your portfolio to our manager on e-mail and get a change to be a
          part of our new big Dribblers group!
        </p>
        <span class="text-secondary text-sm">Aug 14,2020</span>
      </div>

    </div>
  </div>

  <div class="latest-news">
    <p class="text-2xl primary-text mb-5 font-medium">Latest news</p>
    <div class="
        news-holder gap-5
        grid grid-cols-1
        sm:grid-cols-2
        lg:grid-cols-3
        xl:grid-cols-4
        2xl:grid-cols-5
      ">
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
      <app-news-card></app-news-card>
    </div>
  </div>
</div>