@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.primary-text {
  @apply text-primary dark:text-white;
}

.btn {
  @apply bg-btn-light text-primary dark:bg-btn-dark dark:text-white;
}

.nav-menu li a {
  transition: color;
  @apply text-inactive
  duration-300
  ease-in-out;
  @media (hover: hover) {
    @apply hover:text-primary dark:hover:text-white;
  }
  &.active {
    @apply text-primary dark:text-white;
  }
}

.darkmode-state {
  transition-property: left;
  @apply duration-300 ease-in-out;
}
.dark-toggle {
  left: calc(100% - 20px);
}
