@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
textarea,
button {
  @apply focus:outline-none focus:ring;
}
button {
  transition-property: opacity;
  @apply duration-300 ease-in-out;
}
button:disabled {
  @apply opacity-70 cursor-default pointer-events-none;
}

.primary-text {
  @apply text-primary dark:text-white;
}

.btn {
  @apply bg-btn-light text-primary dark:bg-btn-dark dark:text-white focus:outline-none focus:ring;
}
.auth-form-btn {
  @apply w-full rounded-xl mt-5 mb-2 py-3 font-medium bg-blue text-white dark:bg-purple;
}

.nav-menu li a {
  transition: color;
  @apply text-inactive duration-300 ease-in-out;
  @media (hover: hover) {
    @apply hover:text-primary dark:hover:text-white;
  }
  &.active {
    @apply text-primary dark:text-white;
  }
}

.darkmode-state {
  transition-property: left;
  @apply duration-300 ease-in-out;
}
.dark-toggle {
  left: calc(100% - 20px);
}
// Mobile Navigation
.mob-nav li a {
  transition: color;
  @apply text-white-defused duration-300 ease-in-out;
  &.active {
    @apply text-white;
  }
}
.mob-nav::before {
  content: "";
  z-index: -1;
  @apply absolute inset-0 opacity-90 rounded-xl bg-purple dark:bg-dark;
}

// MATERIAL RELATED
@mixin xl-icon-size($size: 20px) {
  font-size: $size !important;
  height: $size !important;
  width: $size !important;
  line-height: $size !important;
}

mat-icon {
  @include xl-icon-size(20px);
}

.mat-dialog-container {
  @apply bg-white dark:bg-dark-lighter;
  border-radius: 0.75rem !important;
  padding: 0 !important;
}

.form-field {
  .eye-toggle {
    transform: translateY(-25%);
  }
  input {
    transition-property: border-color;
    @apply w-full bg-light p-4 rounded-xl mt-2
    dark:bg-dark border duration-300 ease-in-out border-transparent;
  }
  label {
    @apply text-primary dark:text-white-defused font-medium;
    line-height: 1;
    font-size: 14px;
  }
  &.invalid {
    input {
      @apply border-warning;
    }
  }
}

.loader {
  @apply w-5 h-5 border-2 border-b-transparent rounded-r-full rounded-full animate-spin inline-block align-middle;
}
